.img-rounded,
.img-circle,
.img-polaroid,
pre,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child,
.input-append input,
.input-append select,
.input-append .uneditable-input,
.input-append input + .btn-group .btn,
.input-append select + .btn-group .btn,
.input-append .uneditable-input + .btn-group .btn,
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input,
.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn,
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child,
.form-search .input-append .search-query,
.form-search .input-prepend .search-query,
.form-search .input-append .search-query,
.form-search .input-append .btn,
.form-search .input-prepend .btn,
.table-bordered,
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child,
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child,
.dropdown-submenu > .dropdown-menu,
.dropup .dropdown-submenu > .dropdown-menu,
.dropdown-submenu.pull-left > .dropdown-menu,
.typeahead,
.well,
.well-large,
.well-small,
.btn,
.btn-large,
.btn-small,
.btn-mini,
.btn-link,
.btn-group > .btn,
.btn-group > .btn:first-child,
.btn-group > .dropdown-toggle,
.btn-group > .btn.large:first-child,
.btn-group > .large.dropdown-toggle,
.btn-group-vertical .btn,
.btn-group-vertical .btn:first-child,
.btn-group-vertical .btn-large:first-child,
.alert,
.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.tabs-below > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a,
.navbar-inner,
.navbar-search .search-query,
.navbar-static-top .navbar-inner,
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner,
.navbar .btn-navbar .icon-bar,
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu,
.breadcrumb,
.pagination ul,
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span,
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span,
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span,
.pager li > a,
.pager li > span,
.modal,
.modal-footer,
.tooltip-inner,
.popover,
.popover-title,
.thumbnail,
.label,
.badge,
.progress,
.accordion-group,
.carousel-control,
.hero-unit{
	behavior: url("/initializrbs/css/PIE.php");
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child,
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child,
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child,
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child,
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child,
.btn-group > .btn:last-child,
.btn-group > .btn.large:last-child,
.btn-group-vertical .btn:last-child,
.btn-group-vertical .btn-large:last-child,
.nav-tabs.nav-stacked > li:last-child > a,
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span,
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span,
.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span{
	behavior: url("/initializrbs/css/PIE.php");
	border:1px solid red;
}


/* box shadow */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.uneditable-input,
.uneditable-textarea,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea,
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus,
.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus,
.control-group.success input,
.control-group.success select,
.control-group.success textarea,
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus,
.control-group.info input,
.control-group.info select,
.control-group.info textarea,
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus,
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus,
.btn.active,
.btn:active,
.btn.disabled,
.btn[disabled],
.btn-link,
.btn-link:active,
.btn-link[disabled],
.btn-group > .btn + .dropdown-toggle,
.btn-group.open .dropdown-toggle,
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .btn-navbar,
.navbar-inverse .navbar-search .search-query,
.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused,
a.thumbnail:hover,
.progress .bar,
.progress .bar + .bar{
	behavior: url("/initializrbs/css/PIE.php");
	border:1px solid red;
}